body {
    background-image: url(background-image.jpg);
    background-size: cover;
}

h2 {
    color: black;
    text-align: center;
    border: 5px dashed #948981;
}

p {
    color: black;
}

li {
    list-style: none;
    display: inline-block;
}

